body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: transparent;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    margin-bottom: 1.5rem;  /* Отступ между логотипом и заголовком */
}

.logo img {
    width: 150px;  /* Ширина логотипа */
    height: auto;  /* Автоматическая высота для сохранения пропорций */
}

.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    height: 28px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.25);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.login-container input:focus {
    outline: none;
    border-color: #008DD2; /* Новый цвет границы */
    box-shadow: 0 0 0 2px rgba(0, 141, 210, 0.3); /* Свечение */
}

.login-container button {
    padding: 0.75rem;
    background-color: #008DD2;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .error {
    color: red;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .login-container {
        margin-top: -200px;  /* Поднимаем форму выше */
    }
}


